<!doctype html>
<html>
<head>
    <title>AdunDocs</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/lib/angular.min.js"></script>
    <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
</head>
<body>
{{{body}}}
</body>
</html>