<!doctype html>
<html>
<head>
    <title>AdunDocs</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/metisMenu.css"/>
    <link rel="stylesheet" href="/css/sb-admin-2.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
{{{body}}}
</div>
</body>
</html>
<script>
    $.getJSON('/article/list', function(data){
        console.dir(data);
    });
</script>