<!doctype html>
<html>
<head>
    <title>AdunDocs</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/metisMenu.css"/>
    <link rel="stylesheet" href="/css/sb-admin-2.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <!-- jQuery -->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery-tmpl.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/js/lib/metisMenu.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/lib/sb-admin-2.js"></script>

</head>
<body>
<div id="wrapper">
{{{body}}}
</div>
</body>
</html>


