<div class="_static"><nav class="_toc" role="directory">
    <h3 class="_toc-title"><a href="#about">English</a> / <a href="#aboutkor">한국어</a></h3>
    <ul class="_toc-list">
        <li><a href="#about#about">AdunDocs</a></li>
        <li><a href="#about#features">Features</a></li>
        <li><a href="#about#faq">FAQ</a></li>
        <li><a href="#about#copyright">Copyright</a></li>
        <li><a href="#about#credits">Credits</a></li>
    </ul>
</nav>

    <h1 class="_lined-heading" id="about">Open-document notes that support Tistory & MarkDown</h1>
    <p>AdunDocs는 티스토리와 마크다운을 지원하며, DB가 필요 없는 <b>오픈형 문서 노트</b> 입니다.</p>
    <ul>
        <li><a href="https://github.com/adunStudio" target="_blank">adunStudio</a>가 만들고 관리합니다.</li>
        <li>자유로운 <a href="https://github.com/adunStudio/AdunDocs" target="_blank">오픈 소스</a> <iframe class="_github-btn" src="https://ghbtns.com/github-btn.html?user=adunStudio&repo=AdunDocs&type=star&count=true" frameborder="0" scrolling="0" width="73px;" height="20px"></iframe>입니다.</li>

    </ul>
    <p>최신 업데이트 뉴스를 보기 위해서는:</p>
    <ul>
        <li><a href="http://oppacoding.com/" target="_blank">OppaCoding</a> 개인 사이트를 방문해 주시기 바랍니다.</li>
        <li><a href="http://boycoding.tistory.com/" target="_blank">소년코딩</a> 티스토리 블로그를 방문해 주시기 바랍니다.</li>
    </ul>

    <p class="_note _note-green">만약 AdunDocs가 마음에 드신다면 <a href="https://github.com/adunStudio/AdunDocs"><iframe class="_github-btn" src="https://ghbtns.com/github-btn.html?user=adunStudio&repo=AdunDocs&type=star&count=false" frameborder="0" scrolling="0" width="50px;" height="20px"></iframe></a>를 저의 <a href="https://github.com/adunStudio/AdunDocs" target="_blank">Git</a>에 주시면 감사하겠습니다.</p>




    <h2 class="_lined-heading" id="features">Features</h2>

    <p><strong>1. DB가 필요없습니다.</strong></p>
    <ul>
        <li>모든 파일은 로컬 저장소에 저장됩니다.</li>
        <li>그러므로 복잡한 DB세팅이 필요 없습니다.</li>
    </ul>

    <p><strong>2. MarkDown을 지원합니다.</strong></p>
    <ul>
        <li>Markdown은 HTML로 변환이 가능한 경량화된 마크업 언어입니다.</li>
        <li>이를 이용해서 쉽게 문서들을 편집할 수 있습니다. </li>
        <li>물론 HTML에디터도 사용 가능합니다.</li>
    </ul>

    <p><strong>3. 블로그와 연동 가능합니다.</strong></p>
    <ul>
        <li>AdunDocs에서는 블로그의 포스트를 편집할 수 있습니다.</li>
        <li>MarkDown 문법을 이용한 편집기능도 제공합니다.</li>
        <li>지원하는 블로그
            <table>
                <tbody>
                <tr>
                    <th>Blog</th>
                    <th>Features</th>
                </tr>
                <tr>
                    <td>Tistory</td>
                    <td>getUsersBlogs, getRecentPosts, getCategories, getPost, editPost, newPost, deletePost, newMediaObject</td>
                </tr>
                <tr>
                    <td>Naver</td>
                    <td>getRecentPosts, getCategories, getPost, editPost, newPost, newMediaObject</td>
                </tr>
                </tbody>
            </table>
        </li>

    </ul>







    <h2 class="_lined-heading" id="faq">Questions &amp; Answers</h2>
    <dl>
        <dt>Q. 새로운 기능은 어디에다가 제안하면 되나요?</dt>
        <dd>
            새로운 기능은 <a href="http://www.oppacoding.com/about" target="_blank">OppaCoding</a>에 메시지를 통해 제안하시면 됩니다.<br>
            또한 카카오톡 <b>prudent0731</b>에 메시지를 보내주셔도 됩니다.
        </dd>
        <dt>Q. 버그는 어디에 제출하면 되나요?</dt>
        <dd><a href="https://github.com/adunStudio/AdunDocs/issues">이슈 트래커</a>에 제출하시면 됩니다. 감사합니다!</dd>
    </dl>
    <p>또한 다른 무슨일이 있어도 자유롭게 <a href="mailto:adunstudio@daum.net">adunstudio@daum.net</a>에 메일을 보내주셔도 됩니다.</p>





    <h2 class="_lined-heading" id="copyright">Copyright and License</h2>
    <p class="_note">
        <strong>Copyright 2016 adunStudio</strong>
        <br>
        This software is licensed under the terms of the Mozilla Public License v2.0.
        <br>
        You may obtain a copy of the source code at <a href="https://github.com/adunStudio/AdunDocs" target="_blank">github.com/adunStudio/AdunDocs</a>.
        <br>
    </p>





    <h2 class="_lined-heading" id="credits">Credits</h2>

    <p><strong>Special thanks to:</strong></p>
    <ul>
        <li>저에게 영감을 준 API Documentation Browser <a href="http://devdocs.io/" target="_blank">DevDocs</a>에 감사합니다.</li>
        <li>항상 저를 응원해 주는 DCinside <a href="http://gall.dcinside.com/board/lists/?id=programming" target="_blank">Programming Gallery</a> 모두에게 감사합니다.</li>
    </ul>

    <table class="_credits">
        <tbody>
        <tr>
            <th>Library</th>
            <th>Copyright</th>
            <th>License</th>
        </tr>
        <tr>
            <td>Angular</td>
            <td>© 2010-2016 Google, Inc.</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Bootstrap</td>
            <td>© 2011-2016 Twitter, Inc.</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>DevDocs</td>
            <td>© 2013-2016 Thibaut Courouble and other contributors</td>
            <td>MPLv2</td>
        </tr>
        <tr>
            <td>Editormd</td>
            <td>© 2015 pandao</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Fs-file-tree</td>
            <td>© 2016 Ionică Bizău</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>jQuery</td>
            <td>© Packt Publishing<br>© jQuery Foundation and other contributors</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>jQuery UI</td>
            <td>© jQuery Foundation and other contributors</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Html-md</td>
            <td>© 2016 Alasdair Mercer</td>
            <td>GPLv2</td>
        </tr>
        <tr>
            <td>Moment</td>
            <td>© JS Foundation and other contributors</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>PatternLock</td>
            <td>© 2016 Sudhanshu Yadav</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Showdown</td>
            <td>© 2007 John Fraser</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Summernote</td>
            <td>© 2015~  Summernote Team</td>
            <td>MIT</td>
        </tr>



        </tbody>
    </table>

</div>
