<div class="_static"><nav class="_toc" role="directory">
    <h3 class="_toc-title"><a href="#about">English</a> / <a href="#aboutkor">한국어</a></h3>
    <ul class="_toc-list">
        <li><a href="#about#about">AdunDocs</a></li>
        <li><a href="#about#features">Features</a></li>
        <li><a href="#about#faq">FAQ</a></li>
        <li><a href="#about#copyright">Copyright</a></li>
        <li><a href="#about#credits">Credits</a></li>
    </ul>
</nav>

    <h1 class="_lined-heading" id="about">Open-document notes that support Tistory & MarkDown</h1>
    <p>AdunDocs is Open-document notes that support Tistory & Markdown (of course HTML) and don't need DB</p>
    <ul>
        <li>Created and maintained by <a href="https://github.com/adunStudio" target="_blank">adunStudio</a></li>
        <li>Free and <a href="https://github.com/adunStudio/AdunDocs" target="_blank">open source</a> <iframe class="_github-btn" src="https://ghbtns.com/github-btn.html?user=adunStudio&repo=AdunDocs&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></li>

    </ul>
    <p>To keep up-to-date with the latest news:</p>
    <ul>
        <li>Visit <a href="http://oppacoding.com/" target="_blank">OppaCoding</a> on Website</li>
        <li>Visit <a href="http://boycoding.tistory.com/" target="_blank">소년코딩</a> on Tistory</li>
    </ul>

    <p class="_note _note-green">If you like AdunDocs, please consider giving a <a href="https://github.com/adunStudio/AdunDocs"><iframe class="_github-btn" src="https://ghbtns.com/github-btn.html?user=adunStudio&repo=AdunDocs&type=star&count=false" frameborder="0" scrolling="0" width="50px;" height="20px"></iframe></a> on my <a href="https://github.com/adunStudio/AdunDocs" target="_blank">Git</a>. &nbsp; Thanks!<br></p>




    <h2 class="_lined-heading" id="features">Features</h2>

    <p><strong>1. Don't need DB</strong></p>
    <ul>
        <li>All files are stored on local disk</li>
        <li>You don't need complex DB setting. </li>
    </ul>

    <p><strong>2. Support MarkDown</strong></p>
    <ul>
        <li>Markdown is a lightweight markup language that can be converted to HTML</li>
        <li>You will easily edit the documents. </li>
        <li>Of course, also provides HTML editor. </li>
    </ul>

    <p><strong>3. Support Blog</strong></p>
    <ul>
        <li>AdunDocs support blog editing</li>
        <li>You will edit blog posts with MarkDown</li>
        <li>Available blog
            <table>
                <tbody>
                <tr>
                    <th>Blog</th>
                    <th>Features</th>
                </tr>
                <tr>
                    <td>Tistory</td>
                    <td>getUsersBlogs, getRecentPosts, getCategories, getPost, editPost, newPost, deletePost, newMediaObject</td>
                </tr>
                <tr>
                    <td>Naver</td>
                    <td>getRecentPosts, getCategories, getPost, editPost, newPost, newMediaObject</td>
                </tr>
                </tbody>
            </table>
        </li>

    </ul>







    <h2 class="_lined-heading" id="faq">Questions &amp; Answers</h2>
    <dl>
        <dt>Where can I suggest new features?</dt>
        <dd>
            You can suggest new features on the <a href="http://www.oppacoding.com/about" target="_blank">OppaCoding</a> on message.<br>
            If you have a specific feature request, add it to the <a href="https://github.com/adunStudio/AdunDocs/issues" target="_blank">issue tracker</a>.<br>
            Otherwise send the kakaotalk <b>prudent0731</b>
        </dd>
        <dt>Where can I report bugs?</dt>
        <dd>In the <a href="https://github.com/adunStudio/AdunDocs/issues">issue tracker</a>. Thanks!</dd>
    </dl>
    <p>For anything else, feel free to email me at <a href="mailto:adunstudio@daum.net">adunstudio@daum.net</a>.</p>





    <h2 class="_lined-heading" id="copyright">Copyright and License</h2>
    <p class="_note">
        <strong>Copyright 2016 adunStudio</strong>
        <br>
        This software is licensed under the terms of the Mozilla Public License v2.0.
        <br>
        You may obtain a copy of the source code at <a href="https://github.com/adunStudio/AdunDocs" target="_blank">github.com/adunStudio/AdunDocs</a>.
        <br>
    </p>





    <h2 class="_lined-heading" id="credits">Credits</h2>

    <p><strong>Special thanks to:</strong></p>
    <ul>
        <li>Thank API Documentation Browser <a href="http://devdocs.io/" target="_blank">DevDocs</a> for Inspiring</li>
        <li>Thank DCinside <a href="http://gall.dcinside.com/board/lists/?id=programming" target="_blank">Programming Gallery</a> for counselling</li>
    </ul>

    <table class="_credits">
        <tbody>
        <tr>
            <th>Library</th>
            <th>Copyright</th>
            <th>License</th>
        </tr>
        <tr>
            <td>Angular</td>
            <td>© 2010-2016 Google, Inc.</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Bootstrap</td>
            <td>© 2011-2016 Twitter, Inc.</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>DevDocs</td>
            <td>© 2013-2016 Thibaut Courouble and other contributors</td>
            <td>MPLv2</td>
        </tr>
        <tr>
            <td>Editormd</td>
            <td>© 2015 pandao</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Fs-file-tree</td>
            <td>© 2016 Ionică Bizău</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>jQuery</td>
            <td>© Packt Publishing<br>© jQuery Foundation and other contributors</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>jQuery UI</td>
            <td>© jQuery Foundation and other contributors</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Html-md</td>
            <td>© 2016 Alasdair Mercer</td>
            <td>GPLv2</td>
        </tr>
        <tr>
            <td>Moment</td>
            <td>© JS Foundation and other contributors</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>PatternLock</td>
            <td>© 2016 Sudhanshu Yadav</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Showdown</td>
            <td>© 2007 John Fraser</td>
            <td>MIT</td>
        </tr>
        <tr>
            <td>Summernote</td>
            <td>© 2015~  Summernote Team</td>
            <td>MIT</td>
        </tr>



        </tbody>
    </table>

</div>
