
<div class="_static">

    <h2 class="_lined-heading">Tistory</h2>

    <div ng-show="!blogCategory" id="write_page">
        <form name="tistoryForm">
            <div class="col-sm-5" style="padding: 10px;">
                <div class="form-group">
                    <label for="tistoryKey"><span>*</span> Tistory ID</label>
                    <input ng-model="tistoryNAME" ng-required="true" name="tistoryNAME" placeholder="xyz@daum.net" id="tistoryNAME" type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-5" style="padding: 10px;">
                <div class="form-group">
                    <label for="tistoryADDR"><span>*</span> API 주소</label>
                    <input ng-model="tistoryADDR" ng-required="true" ng-pattern="addrPattern" placeholder="http://xyz.tistory.com/api" name="tistoryADDR" id="tistoryADDR" type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-5" style="padding: 10px;">
                <div class="form-group">
                    <label for="tistoryID"><span>*</span> API ID</label>
                    <input ng-model="tistoryID" ng-required="true" name="tistoryID" id="tistoryID" placeholder="2441858"  type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-5" style="padding: 10px;">
                <div class="form-group">
                    <label for="tistoryKEY"><span>*</span> API KEY</label>
                    <input ng-model="tistoryKEY" ng-required="true" name="tistoryKEY" id="tistoryKEY" type="password" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-6" style="padding: 10px;">
                <button ng-click="tistoryLogin($event);" type="button" class="btn btn-default">Login</button>

            </div>
        </form>
    </div>
    <div ng-show="blogCategory" id="logout_page">
        <form name="logoutForm">

            <div class="col-sm-6" style="padding: 10px;">
                <button ng-click="tistoryLogout($event);" type="button" class="btn btn-default">Logout</button>
            </div>
        </form>
    </div>
</div>
<!--
<option ng-repeat="(dir, dirValue) in docs" value="[[dir]]">[[dir]]</option>
-->
