
<div class="_static">

    <h2 class="_lined-heading">Blog</h2>

    <div ng-show="!blogCategory" id="write_page">
        <p>AdunDocs는 현재 <b>네이버</b>, <b>티스토리</b> 블로그 연동을 지원합니다.</p>
        <p class="_note">
            <strong>Warning:</strong> 티스토리 블로그에서 계정 아이디가 다음 아이디인 경우 @daum.net까지 써야합니다.
        </p>

        <form name="tistoryForm">
            <div class="col-sm-5" style="padding: 10px;">
                <div class="form-group">
                    <label for="tistoryKey"><span>*</span> 계정 ID</label>
                    <input ng-model="tistoryNAME" ng-required="true" name="tistoryNAME" placeholder="xyz@daum.net" id="tistoryNAME" type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-5" style="padding: 10px;">
                <div class="form-group">
                    <label for="tistoryADDR"><span>*</span> API 주소</label>
                    <input ng-model="tistoryADDR" ng-required="true" ng-pattern="addrPattern" placeholder="http://xyz.tistory.com/api" name="tistoryADDR" id="tistoryADDR" type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-5" style="padding: 10px;">
                <div class="form-group">
                    <label for="tistoryID"><span>*</span> API ID</label>
                    <input ng-model="tistoryID" ng-required="true" name="tistoryID" id="tistoryID" placeholder="2441858"  type="text" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-5" style="padding: 10px;">
                <div class="form-group">
                    <label for="tistoryKEY"><span>*</span> API KEY</label>
                    <input ng-model="tistoryKEY" ng-required="true" name="tistoryKEY" id="tistoryKEY" type="password" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-6" style="padding: 10px;">
                <button ng-click="tistoryLogin($event);" type="button" class="btn btn-default">Login</button>
            </div>
        </form>
    </div>
    <div ng-show="blogCategory" id="logout_page">


        <div class="_news col-sm-8">
            <h4>[[getLength(blogPost)]] Posts</h4>
            <div ng-repeat="post in blogPost" class="_news-row" >
                <span class="_news-date">[[post.dateCreated | date: "yyyy.MM.dd  hh:mm"]]</span>
                <span class="_news-title">New Post : <a href="#/blog/[[post.dirName]]/[[post.subName]]/[[post.title]]?check=1">[[post.title]]</a></span>
            </div>
        </div>

        <form name="logoutForm">

            <div class="col-sm-3" style="padding: 10px;">
                <button ng-click="tistoryLogout($event);" type="button" class="btn btn-default">Logout</button>
            </div>
        </form>
    </div>
</div>
<!--
<option ng-repeat="(dir, dirValue) in docs" value="[[dir]]">[[dir]]</option>
-->
