<div class="_page _mdn">
    <h1 class="" style="font-size: 2rem;">[[docStat.dirName]]</h1>

    <div class="note"><strong>Keyword index</strong></div>
    <div>
        <div class="index">
            <span ng-repeat-start="(sub, subValue) in docs[docStat.dirName]">[[sub]]</span>
            <ul ng-repeat-end="">
                <li ng-repeat="(name, file) in docs[docStat.dirName][sub]"><a href="/#/[[docStat.dirName]]/[[sub]]/[[name]]?check=1"><code>[[name]]</code></a></li>
            </ul>
         </div>
    </div>
</div>