<div class="_intro">
    <div class="_intro-message">
        <h2 class="_intro-title">환영합니다!</h2>

        <p>AdunDocs는 에버노트를 대신하며, 티스토리와 연동할 수 있게 만들어지고 있습니다.
        </p>
        <ol class="_intro-list">
            <li>이 App은 DB 필요 없이 쉽게 서비스 가능합니다.</li>
            <li><a href="http://electron.atom.io/" target="_blank">electron.js</a>를 사용할 경우 서버도 필요없습니다.</li>
            <li><b>Tistory 블로그</b>와 연동 됩니다.</li>
            <li>글 쓰기시 <a href="https://namu.wiki/w/%EB%A7%88%ED%81%AC%EB%8B%A4%EC%9A%B4" target="_blank">MarkDown</a> 문법을 지원 합니다.</li>
            <li>
                AdunDocs는 자유롭게 사용 가능하고 <a href="https://github.com/adunStudio/AdunDocs" target="_blank">오픈 소스</a>입니다.
                <iframe class="_github-btn" src="https://ghbtns.com/github-btn.html?user=adunStudio&repo=AdunDocs&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </li>
            <li>만약 이 App이 마음에 드신다면, <a href="https://github.com/adunStudio/AdunDocs" target="_blank">AdunDocs</a>에 기여해주시기 바랍니다. 감사합니다!</li>
            <li>문의사항은 <a href="http://oppacoding.com/about" target="_blank">OppaCoding</a>에 문의 해주시기 바랍니다.</li>
        </ol>
        <p>즐거운 코딩 하세요!</p>
        <small style="float:right;">by<a href="https://github.com/adunStudio" target="_blank"> AdunStudio</a></small>
    </div>
</div>