
<div class="_static">

    <h2 class="_lined-heading">Log-in</h2>
    <div class="mhn-ui-wrap">
        <div class="mhn-ui-page page-lock">
            <div class="mhn-ui-date-time">
                <div class="mhn-ui-time">6:02 PM</div>
                <div class="mhn-ui-day">Friday</div>
                <div class="mhn-ui-date">September 05, 2015</div>
            </div>
            <div class="mhn-lock-wrap">
                <div class="mhn-lock-title" data-title="Draw a pattern to unlock"></div>
                <div class="mhn-lock"></div>
            </div>
        </div>
    </div>
    <div class="mhn-ui-info">Draw 'M' shape begin from left bottom to unlock :)</div>
</div>
<script>
    alert(2);
</script>