<div class="_splash-title">AdunDocs</div>

<div id="write_page">

</div>
<div class="_page _mdn" id="main" >
    <!--<textarea id="write_area" data-provide="markdown" style="z-index: 200;"></textarea>
    <script>
        var simplemde = new SimpleMDE({
            element: $("#write_area")[0],
            spellChecker: false,
            tabSize: 4,
            styleSelectedText: false,
            renderingConfig: {
                singleLineBreaks: false,
                codeSyntaxHighlighting: true,
            },
        });
    </script>-->
</div>