<div class="_static">
    <h1 class="_lined-heading">News</h1>

    <p class="_note">
        문의사항이 있나요? <a href="http://oppacoding.com/about" target="_blank">@OppaCoding</a>.<br>
        개발에 기여하고 싶다면 <a href="https://github.com/adunStudio/AdunDocs" target="_blank">GitHub</a>.
    </p>
    <div class="_news">
        <h4>2016</h4>
        <div ng-repeat="file in sortedFileArray" class="_news-row" >
            <span class="_news-date">{{file.stat.birthtime | date: "MM. dd h:mm"}}</span>
            <span class="_news-title">New documentations: <a href="#/{{file.dirName}}/{{file.subName}}/{{file.name}}">{{file.name}}</a></span>
        </div>

        <!--<div class="_news-row"><span class="_news-date">June 18</span> <span class="_news-title">Initial release</span>-->
        </div>
    </div>
</div>