<div class="_static">
    <nav class="_toc" role="directory">
        <h3 class="_toc-title">Table of Contents</h3>
        <ul class="_toc-list">
            </li>
            <li><a href="#tips#shortcuts">Keyboard Shortcuts</a></li>
        </ul>
    </nav>


    <h2 class="_lined-heading" id="shortcuts">Keyboard Shortcuts</h2>

    <h3 class="_shortcuts-title">Selection</h3>
    <dl class="_shortcuts-dl">
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">↑</code>
            <code class="_shortcut-code">w</code>
            <code class="_shortcut-code">↓</code>
            <code class="_shortcut-code">s</code>

        </dt>

        <dd class="_shortcuts-dd">Move selection</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">←</code>
            <code class="_shortcut-code">a</code>
            <code class="_shortcut-code">→</code>
            <code class="_shortcut-code">d</code>
        </dt>

        <dd class="_shortcuts-dd">Show/hide sub-list</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">enter</code>
            <code class="_shortcut-code">space</code>
        </dt>
        <dd class="_shortcuts-dd">Open selection</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">ctrl + enter</code>
        </dt>
        <dd class="_shortcuts-dd">Open selection in a new tab</dd>
    </dl>

    <h3 class="_shortcuts-title">Page</h3>
    <dl class="_shortcuts-dl">
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">ctrl + ↑</code>
            <code class="_shortcut-code">r</code>
        </dt>
        <dd class="_shortcuts-dd">Scroll step by step</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">ctrl + ↓</code>
            <code class="_shortcut-code">f</code>
        </dt>
        <dd class="_shortcuts-dd">Scroll step by step</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">shift + ↑</code>
            <code class="_shortcut-code">shift + r</code>
        </dt>
        <dd class="_shortcuts-dd">Scroll to the top</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">shift + ↓</code>
            <code class="_shortcut-code">shift + f</code>
        </dt>
        <dd class="_shortcuts-dd">Scroll to the bottom</dd>
    </dl>


    <h3 class="_shortcuts-title">Navigation</h3>
    <dl class="_shortcuts-dl">
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">alt + ←</code>
            <code class="_shortcut-code">alt + →</code>
        </dt>
        <dd class="_shortcuts-dd">Go back/forward</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">F2</code>
        </dt>
        <dd class="_shortcuts-dd">Write current directory</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">F3</code>
        </dt>
        <dd class="_shortcuts-dd">Edit current post</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">ctrl + 1</code>
        </dt>
        <dd class="_shortcuts-dd">Blog</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">ctrl + 2</code>
        </dt>
        <dd class="_shortcuts-dd">About</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">ctrl + 3</code>
        </dt>
        <dd class="_shortcuts-dd">News</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">ctrl + 4</code>
        </dt>
        <dd class="_shortcuts-dd">Tips</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">ctrl + 5</code>
        </dt>
        <dd class="_shortcuts-dd">Write</dd>
    </dl>


    <h3 class="_shortcuts-title">Misc</h3>
    <dl class="_shortcuts-dl">
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">ctrl + s</code>
        </dt>
        <dd class="_shortcuts-dd">Save</dd>

        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">Esc</code>
        </dt>
        <dd class="_shortcuts-dd">Reset</dd>
        <dt class="_shortcuts-dt">
            <code class="_shortcut-code">?</code>
        </dt>
        <dd class="_shortcuts-dd">Show shortcut</dd>
    </dl>
    <p class="_note">
        <strong>Warning:</strong> 만약 단축키에 불편한 점이나 버그가 있다면 메시지를 남겨주시기 바랍니다.
</div>