

<div class="_static">

    <h2 class="_lined-heading">Write</h2>
    <div id="write_page">
        <form>
            <select class="form-control">
                <option>Large select</option>
            </select>
            <select  class="form-control">
                <option>Default select</option>
            </select>

            <textarea id="write_area" data-provide="markdown" style="z-index: 200;"></textarea>
        </form>
    </div>
    <script>

        alert(1);
    </script>
</div>
