<nav class="navbar navbar-default navbar-default-plus navbar-static-top" id="top" style="margin-bottom: 0;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav pull-right">
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Tips</a></li>
        </ul>

        <div class="pull-left">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="search"  id="doc_search" class="form-control custom-form-control" placeholder="Search..." >
                </div>
            </form>
        </div>

        <a class="navbar-brand" rel="home" href="/" title="">AdunDocs</a>
    </div>
</nav>

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<div class="_container">d
    <main class="_content" role="main">
        <div>
            <div class="_splash-title" id="title" style="display: none;">AdunDocs</div>
        </div>
        <div class="_page markdown-body markdown-preview" id="main" style=""></div>
    </main>
</div>

<script id="level1" type="text/x-jquery-tml">
    <li class="level1">
        <a href="#/${name}"><span class="_list-arrow"></span> <img src="/img/icon/${name}.png" class="iconn"> ${name} <span class="fa arrow"></span></a>
         <ul class="nav nav-second-level collapse" id="${id}">
         </ul>
    </li>
</script>
<script id="level2" type="text/x-jquery-tml">
    <li class="level2">
        <a href="#/${name}" ><span class="_list-arrow"></span> ${name}<span class='fa arrow'></span></a>
         <ul class="nav nav-second-level collapse" id="${id}">
         </ul>
    </li>
</script>
<script id="level3" type="text/x-jquery-tml">
    <li class="level3">
        <a href="#/${link}" class="level4">${name}</a>
    </li>
</script>
<script>
    var converter = new showdown.Converter();

    var App = (function() {
        function App() {
            this.jsonData = null;
            this.fileData = [];
            this.$current = null;
            this.init();

        }
        App.prototype.init = function() {
            var self = this;
            var l1 = 1, l2 = 1, l3 = 1;
            var id1, id2, id3;
            var link = '';
            $.getJSON('article/list', function(data) {
                self.jsonData = data;
                self.makeSide(data);
            });


            $('#side-menu').on('click', '.level3', function() {
                self.$current ? self.$current.removeClass('active2') : '';
                $(this).addClass('active2');
                self.$current = $(this);
                var url = self.replaceURL($(this).find('a').attr('href'));

                $.get(url, function(data) {
                    var html = converter.makeHtml(data);
                    $('#main').html(html);
                })
            });

            $('#doc_search').on('keyup', function() {
                var searchVal = $(this).val();
                if(!searchVal) {
                    $('#side-menu').empty();
                    self.makeSide(self.jsonData);
                } else {
                    $('#side-menu').empty();

                }
            })

        };
        App.prototype.makeSide = function(data) {
            var self = this;
            var l1 = 1, l2 = 1, l3 = 1;
            var id1, id2, id3;
            var link = '';

            $.each(data, function(dirName, value) {
                id1 = 'level1-' + (l1++);
                $.tmpl($('#level1'), {name: dirName, id: id1}).appendTo('#side-menu');

                $.each(value, function(subName, value) {
                    id2 =  'level2-' + (l2++);
                    $.tmpl($('#level2'), {name: subName, id: id2}).appendTo('#' + id1);

                    $.each(value, function(fileName, value) {
                        link = self.replaceSpacing(dirName + '/' +subName + '/' + fileName);
                        value.name = fileName;
                        value.link = link;
                        self.fileData.push({link: link ,data: value});
                        $.tmpl($('#level3'), value, link).appendTo('#' + id2);
                    });

                });
            });
            self.metisMenu();
        };
        App.prototype.metisMenu = function() {
            $('#side-menu').metisMenu();
        };
        App.prototype.replaceSpacing = function(str) {
            return str.replace(/\s/g, '_');
        };
        App.prototype.replaceURL = function(str) {
            return encodeURI('/article' +str.replace(/_/g, ' ').substring(1));
        };
        return App;
    })();

    var app = new App();
</script>

