<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <input type="search" class="form-control navbar-brand custom-form-control" style="height: 30px;"/>
<!--
        <a class="navbar-brand" href="/">AdunDocs</a>
-->

    </div>
</nav>