<!doctype html>
<html class="_mobile1">
<head>
    <title>AdunDocs</title>

    <!-- style -->
    <link id="theme" rel="stylesheet" href="/css/style.css"/>
    <!-- simplemde -->
    <link rel="stylesheet" href="/css/simplemde.min.css"/>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- jquery-tmpl -->
    <script src="/js/jquery-tmpl.js"></script>
    <!-- ShowDown -->
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.3/dist/showdown.min.js"></script>
    <!-- MathJax -->
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- highlight -->
    <script  src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <!-- simplemde -->
    <script src="/js/simplemde.min.js"></script>
</head>
<body>
<div class="_app" role="application" id="app">
    <!-- 배너 -->
    <header class="_header" role="banner">
        <button type="button" class="_mobile-btn _back-btn">Back</button>
        <button type="button" class="_mobile-btn _forward-btn">Forward</button>
        <button type="button" class="_mobile-btn _menu-btn">Menu</button>
        <button type="button" class="_mobile-btn _home-btn">Home</button>
        <form class="_search" role="search">
            <input type="search" class="_search-input" placeholder="Search…" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="30" aria-label="Search">
            <button type="reset" class="_search-clear" title="Clear search">Clear search</button>
            <div class="_search-tag"></div>
        </form>
        <h1 class="_logo">
            <a href="/" class="_nav-link" title="Offline API Documentation Browser">AdunDocs</a>
        </h1>
        <nav class="_nav" role="navigation">
            <a href="/offline" class="_nav-link">Offline</a>
            <a href="/about" class="_nav-link">About</a>
            <a href="/news" class="_nav-link">News</a>
            <a href="/help" class="_nav-link">Tips</a>
        </nav>
    </header>
    <!-- 배너 -->

    <!-- 네비게이션 -->
    <section class="_sidebar" tabindex="-1">
        <div role="navigation" class="_list" id="list">
            <h6 class="_list-title open-title"><span class="_list-arrow"></span>휴지통 (173)</h6>
        </div>
        <div class="_sidebar-footer">
            <button type="button" class="_sidebar-footer-link _sidebar-footer-edit" data-pick-docs="">
                Select documentation
            </button>
            <button type="button" class="_sidebar-footer-link _sidebar-footer-light" title="Toggle light" data-light="" id="themeChangeButton">Toggle light</button>
        <button type="button" class="_sidebar-footer-link _sidebar-footer-layout" title="Toggle layout" onclick="$('#app').toggleClass('_max-width');">Toggle layout</button></div>
    </section>
    <!-- 네비게이션 -->

    <!-- 문서 -->
    <div class="_container" role="document">
        <main class="_content" role="main" tabindex="1">
            <div>
                <div class="_splash-title">AdunDocs</div>

                <div id="write_page">

                </div>
                <div class="_page _mdn" id="main">
                    <textarea id="write_area" data-provide="markdown" style="z-index: 200;"></textarea>
                    <script>
                        var simplemde = new SimpleMDE({
                            element: $("#write_area")[0],
                            spellChecker: false,
                            tabSize: 4,
                            styleSelectedText: false,
                            renderingConfig: {
                                singleLineBreaks: false,
                                codeSyntaxHighlighting: true,
                            },
                        });
                    </script>
                </div>
            </div>
        </main>
    </div>
    <!-- 문서 -->
</div>

</body>
</html>
<script id="sub" type="text/x-jquery-tml">
<div class="_list _list-sub"></div>
</script>
<script id="level1" type="text/x-jquery-tml">
<a href="#/${link}" class="_list-item _icon-${name} _list-dir" data-slug="css" title="CSS" tabindex="-1"><span class="_list-arrow"></span><span class="_list-text">${name}</span></a>
</script>
<script id="level2" type="text/x-jquery-tml">
<a href="#/${link}" class="_list-item _list-dir" data-slug="animation" tabindex="-1"><span class="_list-arrow"></span><span class="_list-count">${length}</span><span class="_list-text">${name}</span></a>
</script>
<script id="level3" type="text/x-jquery-tml">
<a href="#/${link}" class="_list-item _list-hover" data-link="${data_link}" tabindex="-1">${name}</a>
</script>
<script>

var converter = new showdown.Converter();
    function App() {
        this.converter = new showdown.Converter();
        this.getJSON();
        this.eventClick();
        this.themeChange();
    }
    App.prototype.getJSON = function() {
        var self = this;
        $.getJSON('/article/list', function(data) {
            self.data = data;
            $.each(data, function(dirName, value) {
                var link = self.replaceSpacing(dirName);
                $.tmpl($('#level1'), {name: dirName, link: link}).appendTo('#list');
                var level1 = $.tmpl($('#sub')).appendTo('#list');

                $.each(value, function(subName, value) {
                    var link2 = link + '/' + self.replaceSpacing(subName);
                    $.tmpl($('#level2'), {name: subName, length: Object.keys(value).length, link: link2}).appendTo(level1);
                    var level2 = $.tmpl($('#sub')).appendTo(level1);

                    $.each(value, function(fileName, value) {
                        var link3 = link2 + '/' + self.replaceSpacing(fileName);
                        var data_link = encodeURI(dirName + '/' + subName + '/' + fileName);
                        $.tmpl($('#level3'),{name: fileName, data_link: data_link, link: link3}).appendTo(level2);
                    });
                });
            });
        });
    };
    App.prototype.eventClick = function() {
        var self = this;
        var $prev = null;
        $('#list').on('click', '._list-item', function() {
            var $this = $(this);
            if($prev) {
                $prev.removeClass('active');
            }
            $this.toggleClass('open');
            $this.addClass('active');
            $prev = $this;
            if($this.hasClass('open')) {
                $this.next().slideDown();
            }
            else {
                $this.next().slideUp();
                $this.next().find('a').each(function(idx, element){ $(element).removeClass('open') });
                $this.next().find('._list-sub').each(function(idx, element){ $(element).slideUp(); });
            }
        });

        $('#list').on('click', '._list-hover', function() {
            var link = $(this).data('link');
            $.get('/article/' + link, function(data) {
                var html = self.converter.makeHtml(data);
                $('#main').html(html);
                hljs.initHighlightingOnLoad();
            });
        });


    };
    App.prototype.replaceSpacing = function(str) {
        return str.replace(/\s/g, '_');
    };
    App.prototype.themeChange = function() {
        $('#themeChangeButton').on('click', function() {
            var white = '/css/style.css';
            var black = '/css/style_black.css';
            var current = $('#theme').attr('href');
            $('#theme').attr('href', current == white ? black : white);
        });
    };

    var app = new App();

</script>


