._icon-codesafer:before {
    background-position: -9rem -11rem
}
._icon-trash:before {
    background-image: url('/img/trash.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-tistory:before {
    background-image: url('/img/tistory.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-adundocs:before {
    background-image: url('/img/temp.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}

._login {
    position: absolute;
    z-index: 6;
    right: 1px;
    top: 3rem;
}

._mobile ._mobile-nav {
    display: block;
}

._mobile ._path {
    display: none;
}
._mobile #navigation {
    display: none;
    margin-top: 2.55rem;
}
._mobile ._sidebar-footer {
    z-index: 100;

}